@model CentralDenuncias.Models.denuncia

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Denúncia</title>

    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="~/css/criar.css">
</head>
<body>
    <header>
        <h1>Criar Nova Denúncia</h1>
        <div class="container-btn-voltar"><a href="@Url.Action("Index", "Home")" class="btn-voltar">Voltar</a></div>
    </header>

    <main class="form-main">
        <form asp-action="Create" class="form-criar">
            <div class="campo-form">
                <label asp-for="nome_membro">Nome Membro</label>
                <input asp-for="nome_membro" type="text" id="nome_membro" name="nome_membro" placeholder="Insira o nome do membro" required>
            </div>
            <div class="campo-form">
                <label asp-for="link_membro">Link Membro</label>
                <input asp-for="link_membro" type="text" id="link_membro" name="link_membro" placeholder="Insira o link do membro" required>
            </div>
            <div class="campo-form">
                <label asp-for="descricao">Descrição</label>
                <textarea asp-for="descricao" id="descricao" name="descricao" placeholder="Descreva o motivo da denúncia" required></textarea>
            </div>
            <div class="campo-form">
                <label asp-for="provas">Provas</label>
                <input asp-for="provas" type="text" id="provas" name="provas" placeholder="Insira os links das provas" required>
            </div>
            <div class="campo-form">
                <label asp-for="denuncia_permanente">Tipo da denúncia</label>
                <select asp-for="denuncia_permanente" id="denuncia_permanente" name="denuncia_permanente" required>
                    <option value="" disabled selected>Selecione o tipo da denúncia</option>
                    <option value="true">Membro banido</option>
                    <option value="false">Bot Spam</option>
                    <option value="false">Ocultamento de membro</option>
                    <option value="true">Outro</option>
                </select>
            </div>
            <div class="campo-form">
                <label asp-for="staffer">Staffer Responsável</label>
                <select asp-for="staffer" id="staffer" name="staffer" required>
                    <option value="" disabled selected>Selecione o staffer</option>
                    <option value="Totoro">Totoro</option>
                    <option value="Aeon">Aeon</option>
                    <option value="Agnes">Agnes</option>
                    <option value="Deku">Deku</option>
                    <option value="Gab">Gab</option>
                    <option value="Yuri">Yuri</option>
                    <option value="Moon">Moon</option>
                    <option value="ForUs">ForUs</option>
                    <option value="Olivia">Olivia</option>
                    <option value="Rychard">Rychard</option>
                    <option value="Manoella">Manoella</option>
                    <option value="Akashy">Akashy</option>
                    <option value="Misa">Misa</option>
                </select>
            </div>

            <input asp-for="status" type="text" id="status" name="status" value="status" hidden>

            <div class="botoes-form">
                <button type="reset" class="btn-cancelar">Limpar</button>
                <button type="submit" class="btn-salvar">Criar Denúncia</button>
            </div>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Central de Denúncias Namoro!. Todos os direitos reservados.</p>
    </footer>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
